*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    display: none;
    font-size: 80px;
    font-family: sans-serif;
    color: red;
    text-shadow: 2px 2px 14px lightblue;
    border: 2px solid black;
    text-align: center;
    outline: none;
    background: gray;
}

